{% extends "base.html" %}
{% block content %}

{% for o in olt %}
<div class="col-12 col-sm-3 col-md-3" style="margin-top:30px;">
    <span>{{o.desc}}</span>

    <a href="https://assistant.golden.net.ua/?ip={{o.ip}}">
        <div class="info-box">

            <div class="info-box-content">
                <h6>{{o.model}}</h6>
                <h6>{{o.ip}}</h6>
                <img src="{{ url_for('static', filename='img/olt/')}}{{o.img}}" width="70%" alt="{{o.img}}">
            </div>
        </div>
    </a>
     {% if o.status== 1 %}
    <span class="elevation-1  colors-white">
           <i class="fas fa-cog"></i>update: {{o.up}}
         </span>
    {% endif%}
    {% if o.status== 0 %}
    <span class="elevation-1  colors-red">
           <i class="fas fa-cog"></i>down: {{o.up}}
         </span>
    {% endif%}
    <br>

    <span class="elevation-1"><i class="fas fa-cog"></i>uptime: {{o.uptime}}</span>




</div>
<div class="clearfix hidden-md-up"></div>
{% endfor %}


{% endblock %}
