{% extends "base.html" %}
{% block content %}
{% for g in group %}
<table class="table table-bordered table-hover">
    <tbody>
      <tr data-widget="expandable-table" aria-expanded="true" style="background-color:white;">
        <td>
            <button type="button" class="btn  p-0">
                <i class="expandable-table-caret fas fa-server fa-1x fa-fw"></i>
            </button>
            {{g.name}}
        </td>
      </tr>
      <tr class="expandable-body">
        <td>
            <div class="row">
            {% for s in sw %}
            {% if s.group_id == g.id %}
            <div class="col-12 col-sm-3 col-md-3" style="margin-top:30px;" >
                <span>{{s.desc}}</span>
            
                <a href="https://assistant.golden.net.ua/mikrotik/detail?ip={{s.ip}}"
                {% if s.status== 1 %} class="colors-white"
                {% elif s.status== 0 %} class="colors-red-disabled"
                {% else %} class="colors-yellow" {% endif %}
                >
                    <div class="info-box">
            
                        <div class="info-box-content">
                            <h6>{{s.model}}</h6>
                            <h6>{{s.ip}}</h6>
                            <h6>{{s.description}}</h6>
                            <img src="{{ url_for('static', filename='img/device/')}}{{s.img}}" width="60%" alt="{{s.img}}">
                        </div>
                    </div>
                    
                </a>
                 {% if s.status== 1 %}
                <span class="elevation-1  colors-white">
                       <i class="fas fa-cog"></i>up: {{s.up}}
                     </span>
                {% endif%}
                {% if s.status== 0 %}
                <span class="elevation-1  colors-red">
                       <i class="fas fa-cog"></i>down: {{s.up}}
                     </span>
                {% endif%}
                <br>
                {% if s.uptime != None %}
                <span class="elevation-1"><i class="fas fa-cog"></i>{{s.uptime}}</span>
                {% endif %}
            
            
            
            
            </div>
            <div class="clearfix hidden-md-up"></div>
            {% endif%}
            {% endfor %}
        </div>
    </div>
        </td>
      </tr>
    </tbody>
  </table>
  
{% endfor %}
{% endblock %}
